<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head><title>Modificar Hora</title></head>
  <body>
    <h1>Reservas disponibles</h1>
    <h2 th:text="${#dates.format(fecha, 'dd/MM/yyyy')}"></h2>
    
    <div th:if="${horarios.isEmpty()}" th:text="${'No hay reservas disponibles para este dia!'}"></div>

    <table th:if="${not horarios.isEmpty()}">
      <form th:action="@{/consultar/cambiarHora/__${reserva.id}__}" method="post">
        <div>
            <br><select name="dia">
              <option th:value="${#dates.format(fecha, 'yyyy-MM-dd')}" th:text="${#dates.format(fecha, 'dd/MM/yyyy')}"></option>
            </select><br>
            <h3>Horarios disponibles</h3>
            <select name="horaSeleccionada">
              <option th:value="${reserva.horario.hora}" th:text="${reserva.horario.hora}"></option>
              <option th:each="horario: ${horarios}" th:value="${horario.hora}" th:text="${horario.hora}"></option>
            </select>
        </div>
        <br>
            <button type="submit" class="button">Modificar</button>
        <br>
    </form>
      
    </table>
    
    <br>
      <a th:href="@{/modificar/modificarFyH/__${reserva.id}__}">Volver</a>
    <br>
    <br>
      <a th:href="@{/index}">Inicio</a>
    <br>
  </body>
</html>