<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Example :: Reserve</title> 
</head>
<body>
    <h1>Reservacion</h1>
    <form th:action="@{/reservar/FechaReserva}" method="post">
        <div>
            <label for="fecha-a-reservar">Fecha a reservar:</label>
            <input type="date" name="dia" id="fecha-a-reservar"/>
        </div>
        <div>
            <button type="submit" class="button">Buscar horario</button>
        </div>
    </form>
    <br>
      <a th:href="@{/index}">inicio</a>
    <br>
    <div th:if="${error != null}">
        <div class="card-body">
            <h5 class="card-tittle" style="color: red">Error</h5>
            <p class="card-text" th:text="${error}" style="color: red"></p>
        </div>
    </div>
</body>
</html>